/* Sticky Navbar Styles */
.sticky-nav {
    padding: 0.75rem 0;
    position: sticky;
    top: 0;
    background-color: var(--dark);
    background-image: url('../images/dark-wall.png');
    background-repeat: repeat;
    background-size: auto;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.1s ease-in;
    z-index: 999;
}

.sticky-nav.active {
    opacity: 1;
    border-bottom: 2px solid var(--grey, #eee);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.horizontal {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-container {
    width: 35px;
}

.logo {
    position: absolute;
    width: 25px;
    height: auto;
    margin-right: 15px;
}

.my-name {
    /* font-size: 1.2rem; */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.my-name.active {
    opacity: 1;
}

#head-links {
    display: flex;
    gap: 20px;
}

#head-links .clickable {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Responsive styling
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 10px;
    }
    
    #head-links {
        width: 100%;
        justify-content: space-between;
    }
} */


.sub-nav {
    background: transparent;
    padding: 0.75rem 0;
    position: sticky;
    top: 38px;
    border-bottom: 2px solid var(--grey);
    padding-top: 20px;
    margin-bottom: 30px;
    z-index: 99;
}

.sub-nav.sticky {
    background-color: var(--dark);
    background-image: url('../images/dark-wall.png');
    background-repeat: repeat;
    background-size: auto;
}
